<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
    <p>
        My name is Francisco Javier Ponce Cruz. I am a software engineer currently working for Skytouch Technologies.
        I have 6+ years of experience working as a backend developer and leading small development teams.
    </p>
    <p>
        <h4 style="margin: 0">What I value in my career</h4>
        <ul>
            <li><b>Challenge.</b> I am always learning, and I want to continue growing and learning to become better at what I do and love.</li>
            <li><b>Mentorship.</b> I learn from mentors, and I can contribute mentoring to influence others too.</li>            
            <li><b>Feedback.</b> Don’t Be Nice; Be Helpful 😄</li>
        </ul>
    </p>
    <p display=" flex">
        <h4 style="margin: 0">Technologies and tools</h4>
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/docker.jpg" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/java.png" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/git.png" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/intellij.png" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/spring.png" alt="" height="40">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/junit.png" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/jenkins.png" alt="" height="60">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/rabbit.png" alt="" height="40">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/maven.png" alt="" height="20">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/shell.png" alt="" height="40">
        <img style="display: inline-block; padding-left: 1.5em;" src="{{ site.url }}/img/techs/typescript.svg" alt="" height="40">
    </p>
    <p>
        <h4>Outside work</h4>
        <ul>
            <li>🐶 I love dogs. This is my friend <a href="https://twitter.com/fireflea_/status/1116477204018364418">Bongo</a>.</li>
            <li>📚 I like cooking and reading.</li>
            <li>🌎 Interested in mathematics, algorithms, Quantum Computing, Geostrategy and Computer Science fundamentals.</li>
            <li>🏍️ I ride a motorcycle when the day is cool.</li>
        </ul>
    </p>
</div>