<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
    <p>
        My name is Francisco Javier Ponce Cruz. I am a software engineer, currently working for Skytouch Technologies.
        I have experience working as a backend developer and leading small development teams.
    </p>
    <p>
        <h4 style="margin: 0">What I value in my career:</h4>
        <ul>
            <li><b>Challenge.</b> I am always learning, and I want to continue growing and learning to become better at what I do and love.</li>
            <li><b>Mentorship.</b> I learn from mentors, and I can contribute mentoring to impact other people too.</li>            
            <li><b>Feedback.</b> Don’t Be Nice; Be Helpful 😄</li>
        </ul>
    </p>
    <p>
        <h4>Outside work</h4>
        <ul>
            <li>🐶 I love dogs. This is my friend <a href="https://twitter.com/fireflea_/status/1116477204018364418">Bongo</a></li>
            <li>📚 I like cooking and reading</li>
            <li>🌎 I read about geostrategy, and I am interested in Quantum Computing and Maths</li>
            <li>🏍️ I ride a motorcycle when the day is cool</li>
        </ul>
    </p>
</div>