<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
    <p>
        My name is Francisco Javier Ponce Cruz. I am a software engineer currently working for Skytouch Technologies.
        I have 6+ years of experience working as a backend developer and leading small development teams.
    </p>
    <b>A PDF version of my resume can be found <a href="https://github.com/fjavierponce/resume/raw/master/fponce-resume.pdf">here</a>.</b>
    <p>
        <h4 style="margin: 0">What I value in my career</h4>
        <ul>
            <li><b>Challenge.</b> I am always learning, and I want to continue growing and learning to become better at what I do and love.</li>
            <li><b>Mentorship.</b> I learn from mentors, and I can contribute mentoring to influence others too.</li>            
            <li><b>Feedback.</b> Don’t Be Nice; Be Helpful 😄</li>
        </ul>
    </p>
    <p>
        <h4 style="margin: 0">How I like to work</h4>
        <ul>
            <li>I am a visual person, I sometimes need to write what I learn, or draw diagrams.</li>
            <li>I always search for a solution myself at first, ask for guidance or doubts if I need it, but try to always depend on others the least. 
                I am inclined to be proactive when it comes to solve problems.</li>
            <li>I think that if something is important to spend time on, then I should learn everything from the best sources about it, do it in a disciplined
            way, and maximize the impact. If I find a project, technology or concept interesting, I search for pappers, articles and books that I can read 
            and understand the fundamentals of the matter.</li>
            <li>I am always learning, I try stick to the smart people in any meeting or conversation, because I know I can hear something that I don´t know.</li>
            </I> </li>
        </ul>
    </p>
    <p>
        <h4>Outside work</h4>
        <ul>
            <li>🐶 I love dogs. This is my friend <a href="https://twitter.com/fireflea_/status/1116477204018364418">Bongo</a>.</li>
            <li>📚 I like cooking and reading.</li>
            <li>🌎 Interested in Mathematics, Algorithms, Quantum Computing, Geostrategy and Aviation.</li>
            <li>🏍️ I ride a motorcycle when the day is cool.</li>
        </ul>
    </p>
</div>